@import url('https://fonts.googleapis.com/css2?family=Crete+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cuprum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');
@media screen and (min-width: 0px)
{
	/*VIEW CLASS*/
	.img-data-users{
		background-image: url('https://gstatic.com/classroom/themes/img_cinema.jpg');
		margin-top: 20px;
		border-radius: 10px;
		min-height: 140px;
    	background-size: 120% 100%;
	}
	.img-data-users h5.title{
		font-family: 'Viga', sans-serif;
		font-size: 130%;
		color: white;
		padding: 25px 0 0 25px;
	}
	.img-data-users p.subtitle{
		font-family: 'Crete Round', serif;
		color: white;
		font-size: 20px;
		padding: 0 0 61px 25px
	}
	div.img-data-users ul.collapsible{
		/*border: none;
		box-shadow: none;*/
		display: none;
	}
	.new-task{
		padding: 14px;
		border: 2px solid #e6e6e6;
    	border-radius: 10px;
	}
	.new-task p.nothing{
		font-size: 13px;
	}
	/*DROPDOWN CUSTOM*/
	.dropdown-content{
		margin: 0;
  		display: none;
  		min-width: 250px;
  		max-height: auto;
		margin-left: -1px;
  		overflow: hidden;
  		opacity: 0;
  		position: absolute;
  		white-space: nowrap;
  		z-index: 1;
  		will-change: width, height;
	}
	/*ICON*/
	.icon-svg{
		float: left;
    	height: 48px;
    	line-height: 48px;
    	margin: 0 32px 0 0;
    	width: 24px;
    	color: rgba(0,0,0,0.54);
	}
	/*IMAGE*/
	.profile{
		/*border-radius: 50%;
    	width: 75px;
    	position: relative;
    	left: calc(100% - 27%);
    	margin-top: -20px;*/
    	display: none;
	}
	.share, .postdata{
		box-shadow: 0px 2px 3px 2px #dfdfdf;
		margin-top: 20px;
    	padding: 0 !important;
		border-radius: 10px
	}
	div.postdata > div > div > img{
		border-radius: 50%;
	    width: 47px;
	    float: left;
	}
	.share-text{
		cursor: pointer;
		display: flex;
		padding: 13px;
	}
	.share > div > div.share-text img{
		width: 50px;
	}
	.share:hover > div.share-text > p{
		color: pink
	}
	div.share-text p{
		font-size: 12px;
		padding-left: 24px;
	}
	#share-form{
		display: none;
	}
	#share-form > div.input-field > div.right, #share-form > div.input-field > a.btn{
		margin-top: 10px;
		font-size: 8px;
    	padding: 0 8px 0 8px;
	}
	.share-form-cancel{
		background-color: transparent;
		color: black;
		box-shadow: none;
		font-size: 10px;
    	padding: 0 5px 0 5px;
	}
	div.right > button[type="submit"]{
		background-color: #b3b3b3;
    	font-size: 9px;
	}
	div.postdata > div > div.head-postdata{
		padding: 10px;
    	border-top: 1px solid #e0e0e0;
	}
	p.namedata{
		position: relative;
    	margin: 2px 0 0 55px;
    	font-weight: 600;
	}
	p.datedata{
    	position: relative;
    	font-weight: 400;
    	margin: 3px 0 0 55px;
	}
	form.form-comment-input{
		padding: 20px;display: none;
	}
	form.form-comment-input img{
		border-radius: 50%;width: 47px;
	}
	form.form-comment-input > input.comment-input{
		width: 100%;
	    position: relative;
	    margin: 0 0 0 20px;
	    background-color: transparent;
	    border: 1px solid gainsboro;
	    border-radius: 40px;
	    padding-left: 10px;
	}
	form.form-comment-input > input.comment-input:focus{
		box-shadow: 0 1px 0 0 #c7c7c7;
	}
	form.form-comment-input > button[type="submit"]{
		position: relative;
	    margin: 0 0 0 -45px;
	    padding: 10px;
	    background: transparent;
	    border: none;
	}
	div.postdata > div > div.comment-info{
		padding: 10px;
	}
	.mobile-view-class{
		display: flex;
   		width: 100%;
   		position: fixed;
   		background-color: #ececec;
   		bottom: 0;
   		text-align: center;
   		padding: 0;
   		z-index: 999999;
	}
	.mobile-view-class a {
    	padding: 7px 0 0 0;
    	height: 100%;
    	width: -webkit-fill-available;
    	font-size: 20px;
	}
	.mobile-view-class a:hover{
		background-color: #dadada;
	}
	textarea.materialize-textarea{
		min-height: 140px;
	}
	/*NAV*/
	nav{
		font-family: 'Crete Round', serif;
		box-shadow: 0 2px 2px 0 rgba(255, 255, 255, 0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2)
	}
	/*CONTENT*/
	.sub-content{
	    background-image: url('https://gstatic.com/classroom/themes/img_cinema.jpg');
    	background-repeat: no-repeat;
    	background-size: 100% 100%;
    	height:150px;
    	border-radius: 10px;
	    margin:1%;
	    width:100%;
	    border: 2px solid #e0e0e0;
	}
	.sub-content h5{
		font-size: 90%;
    	color: white;
    	padding: 10px 0 0 17px;
    	margin: 0;
    	text-transform: uppercase;
    	font-family: 'Viga', sans-serif;
	}
	.sub-content p.jurusan{
		margin: 0;
    	padding:10px 0 0 17px;
    	color: white;
    	font-size: 16px;
    	font-family: 'Cuprum', sans-serif;
	}
	.sub-content p{
		margin: 50px 0 0 0;
    	color: white;
    	font-size: 14px;
    	padding: 10px 0 0 17px;
    	font-family: 'Cuprum', sans-serif;
	}
	.sub-content a{
		text-decoration: none;
	}
	.sub-content h5:hover{
		text-decoration: underline;
	}
	.sub-content h5:hover .jurusan{
		    text-decoration: underline;
	}
	.sub-content-footer{
		/*left: calc(100% - 100.4%);
    	position: relative;
    	top: calc(100% - 77.8%);
    	width: 101%;
    	border-top: 2px solid #e0e0e0;*/
    	display: none;
	}
	.sub-content-footer a{
		font-size: 20px;
    	color: black;
    	float: right;
    	padding: 8px;
    	margin-right: 5px;
	}
	.sub-content .href{
		font-size: 20px;
	    color: white;
	    float: right;
	    padding: 20px;
	}
	.content{
	    min-height:200px;
	    position:absolute;
	    margin-top:0;
	    width:100%;
	    display: flex;
	    flex-wrap: wrap;
	    margin-bottom: 40px;
	}
}
/*MOBILE S*/
@media screen and (min-width: 320px)
{
	
}
/*MOBILE M*/
@media screen and (min-width: 375px)
{
	
}
/*MOBILE L*/
@media screen and (min-width: 425px)
{
	
}
@media screen and (min-width: 767px)
{
	.comment-info{
		display: none;
	}
}
/*TABLET*/
@media screen and (min-width: 768px)
{
	/*VIEW CLASS*/
	.img-data-users{
		background-image: url('https://gstatic.com/classroom/themes/img_cinema.jpg');
		margin-top: 20px;
		min-height: 250px;
		border-radius: 10px
	}
	.img-data-users h5.title{
		font-family: 'Viga', sans-serif;
		font-size: 35px;
		color: white;
		padding: 25px 0 0 25px;
	}
	.img-data-users p.subtitle{
		font-family: 'Crete Round', serif;
		color: white;
		font-size: 20px;
		padding: 0 0 61px 25px
	}
	div.img-data-users ul.collapsible{
		border: none;
		box-shadow: none;
		display: block;
	}
	ul.collapsible > li > div.collapsible-header{
		background: none;
		border: none;
		width: fit-content;
	    margin: 0 0 0 50%;
	}
	.collapsible-header i{
		color: black;
	    text-align: center;
	    margin: 0;
	    font-size: 30px;
	}
	.collapsible-header i:hover{
		border-radius: 50%;
	    background: #b5b5b5;
	    transition: 2s all
	}
	.collapsible-body{
		background: whitesmoke;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
		padding: 10px 0 10px 30px;
		font-size: 14px;
		box-shadow: rgb(219, 219, 219) 0px 3px 1px
	}
	.new-task{
		padding: 14px;
		border: 2px solid #e6e6e6;
	    border-radius: 10px;
	}
	.new-task p.nothing{
		font-size: 13px;
	
	}
	p.namedata{
		position: relative;
	    font-size: 14px;
	    font-weight: 700;
	    margin: -2px 0px 0px 0px;
	    padding-left: 60px;
	}
	p.datedata{
		font-size: 14px;
	    position: relative;
	    margin: -1px 0 0 60px;
	}
	div.row > div.postdata{
		padding: 0;
		margin-top: 20px;
	}
	.postdata > div{
		padding: 15px;
	}
	.share, .postdata{
		box-shadow: 0px 2px 3px 2px #dfdfdf;
		margin-top: 20px;
	    padding: 0;
		border-radius: 10px
	}
	div.postdata > div > div > img{
		border-radius: 50%;
	    width: 47px;
	    float: left;
	}
	div.postdata > div > div.head-postdata{
		padding: 20px;
	    border-top: 1px solid #e0e0e0;
	}
	.share-text{
		cursor: pointer;
		display: flex;
		padding: 13px;
	}
	.share > div > div.share-text img{
		width: 47px;
	}
	.share:hover > div.share-text > p{
		color: pink
	}
	div.share-text p{
		font-size: 14px;
		padding-left: 24px;
	}
	#share-form{
		display: none;
	}
	#share-form > div.input-field > div.right, #share-form > div.input-field > a.btn{
		margin-top: 10px
	}
	.share-form-cancel{
		background-color: transparent;
		color: black;
		box-shadow: none;
	}
	.input-field textarea{
		min-height: 130px;
		font-size: 14px;
		padding: 10px
	}
	.input-field textarea:hover{
		background-color: #dbdbdb82;
	}
	.link{
		display: inline-flex;
	    background-color: #f1f1f1;
	    width: 100%;
	    padding: 0px 0px 0 20px;
	}
	.link p{
		font-size: 15px;
	    float: left;
	    font-weight: 600;
	}
	.link i{
		position: absolute;
	    right: 20px;
	    margin-top: 13px;
	}
	form.form-comment-input{
		padding: 20px;display: flex;
	}
	form.form-comment-input img{
		border-radius: 50%;width: 47px;
	}
	form.form-comment-input > input.comment-input{
		width: 100%;
	    position: relative;
	    margin: 0 0 0 20px;
	    background-color: transparent;
	    border: 1px solid gainsboro;
	    border-radius: 40px;
	    padding-left: 10px;
	}
	form.form-comment-input > input.comment-input:focus{
		box-shadow: 0 1px 0 0 #c7c7c7;
	}
	form.form-comment-input > button[type="submit"]{
		position: relative;
	    margin: 0 0 0 -45px;
	    padding: 10px;
	    background: transparent;
	    border: none;
	}
	form.form-comment-input > button[type="submit"]:hover{
		background: #e2e2e2;
	    cursor: pointer;
	    transition: 2s all;
	    border-radius: 50%;
	}
	/*DROPDOWN CUSTOM*/
	.dropdown-content{
		margin: 0;
  		display: none;
  		min-width: 250px;
  		max-height: auto;
		margin-left: -1px;
  		overflow: hidden;
  		opacity: 0;
  		position: absolute;
  		white-space: nowrap;
  		z-index: 1;
  		will-change: width, height;
	}
	/*ICON*/
	.icon-svg{
		float: left;
    	height: 48px;
    	line-height: 48px;
    	margin: 0 32px 0 0;
    	width: 24px;
    	color: rgba(0,0,0,0.54);
	}
	/*IMAGE*/
	.profile{
		border-radius: 50%;
    	width: 75px;
    	position: relative;
    	left: calc(100% - 30%);
    	margin-top: -20px;
    	display: block;
	}
	/*NAV*/
	nav{
		font-family: 'Crete Round', serif;
		box-shadow: 0 2px 2px 0 rgba(255, 255, 255, 0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2)
	}
	/*CONTENT*/
	.sub-content{
	    background-image: url('https://gstatic.com/classroom/themes/img_cinema.jpg');
    	background-repeat: no-repeat;
    	background-size: 150% 45%;
    	height:290px;
    	border-radius: 10px;
	    margin:1%;
	    width:48%;
	    border: 2px solid #e0e0e0;
	}
	.sub-content h5{
		font-size: 100%;
    	color: white;
    	padding: 10px 0 0 17px;
    	margin: 0;
    	text-transform: uppercase;
    	font-family: 'Viga', sans-serif;
	}
	.sub-content p.jurusan{
		margin: 0;
    	padding:10px 0 0 17px;
    	color: white;
    	font-size: 16px;
    	font-family: 'Cuprum', sans-serif;
	}
	.sub-content p{
		margin: 0;
    	color: white;
    	font-size: 18px;
    	padding:10px 0 0 17px;
    	font-family: 'Cuprum', sans-serif;
	}
	.sub-content a{
		text-decoration: none;
	}
	.sub-content h5:hover{
		text-decoration: underline;
	}
	.sub-content h5:hover .jurusan{
		    text-decoration: underline;
	}
	.sub-content-footer{
		left: calc(100% - 100.4%);
    	position: relative;
    	top: calc(100% - 77.8%);
    	width: 101%;
    	border-top: 2px solid #e0e0e0;
    	display: block;
	}
	.sub-content-footer a{
		font-size: 20px;
    	color: black;
    	float: right;
    	padding: 8px;
    	margin-right: 5px;
	}
	.sub-content .href{
		font-size: 20px;
	    color: white;
	    float: right;
	    padding: 20px;
	}
	.content{
	    min-height:200px;
	    position:absolute;
	    margin-top:34px;
	    width:100%;
	    display: flex;
	    flex-wrap: wrap;
	}
}
@media screen and (min-width: 992px)
{
	.mobile-view-class{
		display: none;
	}
}
/*LAPTOP*/
@media screen and (min-width: 1024px)
{
	/*VIEW CLASS*/
	.img-data-users{
		background-image: url('https://gstatic.com/classroom/themes/img_cinema.jpg');
		margin-top: 20px;
		min-height: 250px;
		border-radius: 10px
	}
	.img-data-users h5.title{
		font-family: 'Viga', sans-serif;
		font-size: 35px;
		color: white;
		padding: 25px 0 0 25px;
	}
	.img-data-users p.subtitle{
		font-family: 'Crete Round', serif;
		color: white;
		font-size: 20px;
		padding: 0 0 61px 25px
	}
	div.img-data-users ul.collapsible{
		border: none;
		box-shadow: none;
		display: block;
	}
	ul.collapsible > li > div.collapsible-header{
		background: none;
		border: none;
		width: fit-content;
	    margin: 0 0 0 50%;
	}
	.collapsible-header i{
		color: black;
	    text-align: center;
	    margin: 0;
	    font-size: 30px;
	}
	.collapsible-header i:hover{
		border-radius: 50%;
	    background: #b5b5b5;
	    transition: 2s all
	}
	.collapsible-body{
		background: whitesmoke;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
		padding: 10px 0 10px 30px;
		font-size: 14px;
		box-shadow: rgb(219, 219, 219) 0px 3px 1px
	}
	.new-task{
		padding: 14px;
		border: 2px solid #e6e6e6;
	    border-radius: 10px;
	}
	.new-task p.nothing{
		font-size: 13px;
	
	}
	p.namedata{
		position: relative;
	    font-size: 14px;
	    font-weight: 700;
	    margin: -2px 0px 0px 0px;
	    padding-left: 60px;
	}
	p.datedata{
		font-size: 14px;
	    position: relative;
	    margin: -1px 0 0 60px;
	}
	div.row > div.postdata{
		padding: 0;
		margin-top: 20px;
	}
	.postdata > div{
		padding: 15px;
	}
	.share, .postdata{
		box-shadow: 0px 2px 3px 2px #dfdfdf;
		margin-top: 20px;
	    padding: 0;
		border-radius: 10px
	}
	div.postdata > div > div > img{
		border-radius: 50%;
	    width: 47px;
	    float: left;
	}
	div.postdata > div > div.head-postdata{
		padding: 20px;
	    border-top: 1px solid #e0e0e0;
	}
	.share-text{
		cursor: pointer;
		display: flex;
		padding: 13px;
	}
	.share > div > div.share-text img{
		width: 47px;
	}
	.share:hover > div.share-text > p{
		color: pink
	}
	div.share-text p{
		font-size: 14px;
		padding-left: 24px;
	}
	#share-form{
		display: none;
	}
	#share-form > div.input-field > div.right, #share-form > div.input-field > a.btn{
		margin-top: 10px;
		font-size: 14px;
	}
	.share-form-cancel{
		background-color: transparent;
		color: black;
		box-shadow: none;
		font-size: 14px
	}
	.input-field textarea{
		min-height: 130px;
		font-size: 14px;
		padding: 10px
	}
	.input-field textarea:hover{
		background-color: #dbdbdb82;
	}
	div.right > button[type="submit"]{
		background-color: #b3b3b3;
    	font-size: 14px;
	}
	.link{
		display: inline-flex;
	    background-color: #f1f1f1;
	    width: 100%;
	    padding: 0px 0px 0 20px;
	}
	.link p{
		font-size: 15px;
	    float: left;
	    font-weight: 600;
	}
	.link i{
		position: absolute;
	    right: 20px;
	    margin-top: 13px;
	}
	form.form-comment-input{
		padding: 20px;display: flex;
	}
	form.form-comment-input img{
		border-radius: 50%;width: 47px;
	}
	form.form-comment-input > input.comment-input{
		width: 100%;
	    position: relative;
	    margin: 0 0 0 20px;
	    background-color: transparent;
	    border: 1px solid gainsboro;
	    border-radius: 40px;
	    padding-left: 10px;
	}
	form.form-comment-input > input.comment-input:focus{
		box-shadow: 0 1px 0 0 #c7c7c7;
	}
	form.form-comment-input > button[type="submit"]{
		position: relative;
	    margin: 0 0 0 -45px;
	    padding: 10px;
	    background: transparent;
	    border: none;
	}
	form.form-comment-input > button[type="submit"]:hover{
		background: #e2e2e2;
	    cursor: pointer;
	    transition: 2s all;
	    border-radius: 50%;
	}
	/*DROPDOWN CUSTOM*/
	.dropdown-content{
		margin: 0;
  		display: none;
  		min-width: 250px;
  		max-height: auto;
		margin-left: -1px;
  		overflow: hidden;
  		opacity: 0;
  		position: absolute;
  		white-space: nowrap;
  		z-index: 1;
  		will-change: width, height;
	}
	/*ICON*/
	.icon-svg{
		float: left;
    	height: 48px;
    	line-height: 48px;
    	margin: 0 32px 0 0;
    	width: 24px;
    	color: rgba(0,0,0,0.54);
	}
	/*IMAGE*/
	.profile{
		border-radius: 50%;
    	width: 70px;
    	position: relative;
    	left: calc(100% - 32%);
    	margin-top: -30px;
    	display: block;
	}
	/*NAV*/
	nav{
		font-family: 'Crete Round', serif;
		box-shadow: 0 2px 2px 0 rgba(255, 255, 255, 0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2)
	}
	/*CONTENT*/
	.sub-content{
	    background-image: url('https://gstatic.com/classroom/themes/img_cinema.jpg');
    	background-repeat: no-repeat;
    	background-size: 150% 45%;
    	height:290px;
    	border-radius: 10px;
	    margin:10px;
	    width:23%;
	    border: 2px solid #e0e0e0;
	}
	.sub-content h5{
		font-size: 100%;
    	color: white;
    	padding: 10px 0 0 17px;
    	margin: 0;
    	text-transform: uppercase;
    	font-family: 'Viga', sans-serif;
	}
	.sub-content p.jurusan{
		margin: 0;
    	padding:10px 0 0 17px;
    	color: white;
    	font-size: 16px;
    	font-family: 'Cuprum', sans-serif;
	}
	.sub-content p{
		margin: 0;
    	color: white;
    	font-size: 18px;
    	padding:10px 0 0 17px;
    	font-family: 'Cuprum', sans-serif;
	}
	.sub-content a{
		    text-decoration: none;
	}
	.sub-content h5:hover{
		    text-decoration: underline;
	}
	.sub-content h5:hover .jurusan{
		    text-decoration: underline;
	}
	.sub-content-footer{
		left: calc(100% - 100.4%);
    	position: relative;
    	top: calc(100% - 70%);
    	width: 101%;
    	border-top: 2px solid #e0e0e0;
	}
	.sub-content-footer a{
		font-size: 20px;
    	color: black;
    	float: right;
    	padding: 8px;
    	margin-right: 5px;
	}
	.sub-content .href{
		font-size: 20px;
	    color: white;
	    float: right;
	    padding: 20px;
	}
	.content{
	    min-height:200px;
	    position:absolute;
	    margin-top:34px;
	    width:100%;
	    display: flex;
	    flex-wrap: wrap;
	}
}
/*LAPTOP L*/
@media screen and (min-width: 1440px)
{
	/*VIEW CLASS*/
	.img-data-users{
		background-image: url('https://gstatic.com/classroom/themes/img_cinema.jpg');
		margin-top: 20px;
		min-height: 250px;
		border-radius: 10px
	}
	.img-data-users h5.title{
		font-family: 'Viga', sans-serif;
		font-size: 35px;
		color: white;
		padding: 25px 0 0 25px;
	}
	.img-data-users p.subtitle{
		font-family: 'Crete Round', serif;
		color: white;
		font-size: 20px;
		padding: 0 0 61px 25px
	}
	div.img-data-users ul.collapsible{
		border: none;
		box-shadow: none;
		display: block;
	}
	ul.collapsible > li > div.collapsible-header{
		background: none;
		border: none;
		width: fit-content;
	    margin: 0 0 0 50%;
	}
	.collapsible-header i{
		color: black;
	    text-align: center;
	    margin: 0;
	    font-size: 30px;
	}
	.collapsible-header i:hover{
		border-radius: 50%;
	    background: #b5b5b5;
	    transition: 2s all
	}
	.collapsible-body{
		background: whitesmoke;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
		padding: 10px 0 10px 30px;
		font-size: 14px;
		box-shadow: rgb(219, 219, 219) 0px 3px 1px
	}
	.new-task{
		padding: 14px;
		border: 2px solid #e6e6e6;
	    border-radius: 10px;
	}
	.new-task p.nothing{
		font-size: 13px;
	
	}
	p.namedata{
		position: relative;
	    font-size: 14px;
	    font-weight: 700;
	    margin: -2px 0px 0px 0px;
	    padding-left: 60px;
	}
	p.datedata{
		font-size: 14px;
	    position: relative;
	    margin: -1px 0 0 60px;
	}
	div.row > div.postdata{
		padding: 0;
		margin-top: 20px;
	}
	.postdata > div{
		padding: 15px;
	}
	.share, .postdata{
		box-shadow: 0px 2px 3px 2px #dfdfdf;
		margin-top: 20px;
	    padding: 0;
		border-radius: 10px
	}
	div.postdata > div > div > img{
		border-radius: 50%;
	    width: 47px;
	    float: left;
	}
	div.postdata > div > div.head-postdata{
		padding: 20px;
	    border-top: 1px solid #e0e0e0;
	}
	.share-text{
		cursor: pointer;
		display: flex;
		padding: 13px;
	}
	.share > div > div.share-text img{
		width: 47px;
	}
	.share:hover > div.share-text > p{
		color: pink
	}
	div.share-text p{
		font-size: 14px;
		padding-left: 24px;
	}
	#share-form{
		display: none;
	}
	#share-form > div.input-field > div.right, #share-form > div.input-field > a.btn{
		margin-top: 10px
	}
	.share-form-cancel{
		background-color: transparent;
		color: black;
		box-shadow: none;
	}
	.input-field textarea{
		min-height: 130px;
		font-size: 14px;
		padding: 10px
	}
	.input-field textarea:hover{
		background-color: #dbdbdb82;
	}
	.link{
		display: inline-flex;
	    background-color: #f1f1f1;
	    width: 100%;
	    padding: 0px 0px 0 20px;
	}
	.link p{
		font-size: 15px;
	    float: left;
	    font-weight: 600;
	}
	.link i{
		position: absolute;
	    right: 20px;
	    margin-top: 13px;
	}
	form.form-comment-input{
		padding: 20px;display: flex;
	}
	form.form-comment-input img{
		border-radius: 50%;width: 47px;
	}
	form.form-comment-input > input.comment-input{
		width: 100%;
	    position: relative;
	    margin: 0 0 0 20px;
	    background-color: transparent;
	    border: 1px solid gainsboro;
	    border-radius: 40px;
	    padding-left: 10px;
	}
	form.form-comment-input > input.comment-input:focus{
		box-shadow: 0 1px 0 0 #c7c7c7;
	}
	form.form-comment-input > button[type="submit"]{
		position: relative;
	    margin: 0 0 0 -45px;
	    padding: 10px;
	    background: transparent;
	    border: none;
	}
	form.form-comment-input > button[type="submit"]:hover{
		background: #e2e2e2;
	    cursor: pointer;
	    transition: 2s all;
	    border-radius: 50%;
	}
	/*DROPDOWN CUSTOM*/
	.dropdown-content{
		margin: 0;
  		display: none;
  		min-width: 250px;
  		max-height: auto;
		margin-left: -1px;
  		overflow: hidden;
  		opacity: 0;
  		position: absolute;
  		white-space: nowrap;
  		z-index: 1;
  		will-change: width, height;
	}
	/*ICON*/
	.icon-svg{
		float: left;
    	height: 48px;
    	line-height: 48px;
    	margin: 0 32px 0 0;
    	width: 24px;
    	color: rgba(0,0,0,0.54);
	}
	/*IMAGE*/
	.profile{
		border-radius: 50%;
    	width: 75px;
    	position: relative;
    	left: calc(100% - 30%);
    	margin-top: -50px;
    	display: block;
	}
	/*NAV*/
	nav{
		font-family: 'Crete Round', serif;
		box-shadow: 0 2px 2px 0 rgba(255, 255, 255, 0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2)
	}
	/*CONTENT*/
	.sub-content{
	    background-image: url('https://gstatic.com/classroom/themes/img_cinema.jpg');
    	background-repeat: no-repeat;
    	background-size: 150% 45%;
    	height:290px;
    	border-radius: 10px;
	    margin:1%;
	    width:23%;
	    border: 2px solid #e0e0e0;
	}
	.sub-content h5{
		font-size: 20px;
    	color: white;
    	padding: 10px 0 0 17px;
    	margin: 0;
    	text-transform: uppercase;
    	font-family: 'Viga', sans-serif;
	}
	.sub-content p.jurusan{
		margin: 0;
    	padding:10px 0 0 17px;
    	color: white;
    	font-size: 16px;
    	font-family: 'Cuprum', sans-serif;
	}
	.sub-content p{
		margin: 0;
    	color: white;
    	font-size: 18px;
    	padding:10px 0 0 17px;
    	font-family: 'Cuprum', sans-serif;
	}
	.sub-content a{
		    text-decoration: none;
	}
	.sub-content h5:hover{
		    text-decoration: underline;
	}
	.sub-content h5:hover .jurusan{
		    text-decoration: underline;
	}
	.sub-content-footer{
		left: calc(100% - 100.4%);
    	position: relative;
    	top: calc(100% - 70%);
    	width: 101%;
    	border-top: 2px solid #e0e0e0;
	}
	.sub-content-footer a{
		font-size: 20px;
    	color: black;
    	float: right;
    	padding: 8px;
    	margin-right: 5px;
	}
	.sub-content .href{
		font-size: 20px;
	    color: white;
	    float: right;
	    padding: 20px;
	}
	.content{
	    min-height:200px;
	    position:absolute;
	    margin-top:34px;
	    width:100%;
	    display: flex;
	    flex-wrap: wrap;
	}
}
/*4K*/
@media screen and (min-width: 2560px)
{
	
}