@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
.navbar{
	background: #00caff87 !important;
}
.scroll{
	background: #00caff !important;
}
label.date-news{
	position: absolute;
    margin-top: calc(100% - 250px);
    width: fit-content;
    margin-left: calc(100% - 910px);
    background: red;
    color: white;
    padding: 5px;
    z-index: 999;
}
img.news-img{
	max-width: 100%;
    height: 258px;
}
.card-news{
	border-top: 1px solid #0000002e;
	padding-bottom: 20px;
}
.card-news.card-news:hover.col-xl-6.float-left {
    box-shadow: 0px -1px 2px 1px #00000042;
    transition: 2s all;
}
h5.card-title{
	font-family: 'Acme', sans-serif;
}

.dropdown:hover .dropdown-menu{
	display: block;
}
.data-navbar{
	position: fixed;
	width: 100%;
	background: none !important;
}
.dropdown-menu{
	padding: 0;
	background: #ff5968;
	margin-top: 8px;
}
.dropdown-item{
	color: white !important;
	font-family: 'Roboto', sans-serif;
	border-bottom: 1px solid #ff8a8a;
}
.dropdown-item:hover{
	background: #ec5663;
}
.dropdown:hover .dropdown-menu{
	background: #ff5968;
	margin-top: 8px;
}
/*#wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}

.animate {
    font-size: 100px;
    margin: 0 5px;
    transform-origin: center;
    transform: translateX(15px);
}

#animate1 {animation: spin 3s infinite 100ms linear, appear 2s;}
#animate2 {animation: spin 3s infinite 225ms linear, appear 2s;}
#animate3 {animation: spin 3s infinite 350ms linear, appear 2s;}
#animate4 {animation: spin 3s infinite 475ms linear, appear 2s;}
#animate5 {animation: spin 3s infinite 600ms linear, appear 2s;}
#animate6 {animation: spin 3s infinite 725ms linear, appear 2s;}
#animate7 {animation: spin 3s infinite 850ms linear, appear 2s;}
#animate8 {animation: spin 3s infinite 975ms linear, appear 2s;}
#animate9 {animation: spin 3s infinite 1100ms linear, appear 2s;}
#animate10 {animation: spin 3s infinite 1225ms linear, appear 2s;}
#animate11 {animation: spin 3s infinite 1325ms linear, appear 2s;}
#animate12 {animation: spin 3s infinite 1425ms linear, appear 2s;}
#animate13 {animation: spin 3s infinite 1525ms linear, appear 2s;}
#animate14 {animation: spin 3s infinite 1625ms linear, appear 2s;}
#animate15 {animation: spin 3s infinite 1725ms linear, appear 2s;}
#animate16 {animation: spin 3s infinite 1825ms linear, appear 2s;}
#animate17 {animation: spin 3s infinite 1925ms linear, appear 2s;}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg) translateX(15px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(15px) rotate(-360deg);
  }
}*/
/*body { font: 400 1em/1.5 "Neuton"; background: #090d00; color: rgba(255,255,255,.25); text-align: center; margin: 0 }*/

p {
	text-transform: uppercase;
	letter-spacing: .5em;
	display: inline-block;
	border-width: 4px 0;
	padding: 1.5em 0em;
	position: absolute;
	top: 18%;
	left: 50%;
	width: 40em;
	margin: 0 0 0 -20em;
  }
  span {

  	font: 700 4em/1 "Oswald", sans-serif;
  	letter-spacing: 0;
  	padding: .25em 0 .325em;
	  display: block;
	  margin: 0 auto;
  	text-shadow: 0 0 80px rgba(255,255,255,.5);

/* Clip Background Image */

	  background: url(http://f.cl.ly/items/010q3E1u3p2Q0j1L1S1o/animated_text_fill.png) repeat-y;
	  -webkit-background-clip: text;
	  background-clip: text;

/* Animate Background Image */

	  -webkit-text-fill-color: transparent;
	  -webkit-animation: aitf 80s linear infinite;

/* Activate hardware acceleration for smoother animations */

	  -webkit-transform: translate3d(0,0,0);
	  -webkit-backface-visibility: hidden;

  }


/* Animate Background Image */

@-webkit-keyframes aitf {
	0% { background-position: 0% 50%; }
	100% { background-position: 100% 50%; }
}